<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.settlement.mapper.RetryRecordMapper">
  <resultMap id="BaseResultMap" type="com.dili.settlement.domain.RetryRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="business_id" jdbcType="BIGINT" property="businessId" />
    <result column="business_code" jdbcType="VARCHAR" property="businessCode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    `id`, `type`, `business_id`, `business_code`, `create_time`
  </sql>
</mapper>