<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.settlement.dao.SettleConfigMapper">
  <resultMap id="BaseResultMap" type="com.dili.settlement.domain.SettleConfig">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="market_id" jdbcType="BIGINT" property="marketId" />
    <result column="group_code" jdbcType="INTEGER" property="groupCode" />
    <result column="code" jdbcType="TINYINT" property="code" />
    <result column="val" jdbcType="VARCHAR" property="val" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    `id`, `market_id`, `group_code`, `code`, `val`, `state`, `notes`
  </sql>
</mapper>