<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.settlement.mapper.SettleOrderMapper">
  <resultMap id="BaseResultMap" type="com.dili.settlement.domain.SettleOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="market_id" jdbcType="BIGINT" property="marketId" />
    <result column="app_id" jdbcType="BIGINT" property="appId" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="order_code" jdbcType="VARCHAR" property="orderCode" />
    <result column="business_code" jdbcType="VARCHAR" property="businessCode" />
    <result column="business_type" jdbcType="TINYINT" property="businessType" />
    <result column="business_dep_id" jdbcType="BIGINT" property="businessDepId" />
    <result column="business_dep_name" jdbcType="VARCHAR" property="businessDepName" />
    <result column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="customer_phone" jdbcType="VARCHAR" property="customerPhone" />
    <result column="amount" jdbcType="BIGINT" property="amount" />
    <result column="submitter_id" jdbcType="BIGINT" property="submitterId" />
    <result column="submitter_name" jdbcType="VARCHAR" property="submitterName" />
    <result column="submitter_dep_id" jdbcType="BIGINT" property="submitterDepId" />
    <result column="submitter_dep_name" jdbcType="VARCHAR" property="submitterDepName" />
    <result column="submit_time" jdbcType="TIMESTAMP" property="submitTime" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="way" jdbcType="TINYINT" property="way" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="operator_id" jdbcType="BIGINT" property="operatorId" />
    <result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
    <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
    <result column="account_number" jdbcType="VARCHAR" property="accountNumber" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="bank_card_holder" jdbcType="VARCHAR" property="bankCardHolder" />
    <result column="serial_number" jdbcType="VARCHAR" property="serialNumber" />
    <result column="edit_enable" jdbcType="TINYINT" property="editEnable" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
    <result column="return_url" jdbcType="VARCHAR" property="returnUrl" />
    <result column="version" jdbcType="INTEGER" property="version"/>
    <result column="charge_date" jdbcType="DATE" property="chargeDate" />
  </resultMap>
  <sql id="Base_Column_List">
    `id`, `market_id`, `app_id`, `code`, `order_code`, `business_code`, `business_type`, `business_dep_id`, `business_dep_name`,
    `customer_id`, `customer_name`, `customer_phone`, `amount`, `submitter_id`, `submitter_name`,
    `submitter_dep_id`, `submitter_dep_name`, `submit_time`, `type`, `way`, `state`, `operator_id`,
    `operator_name`, `operate_time`, `account_number`, `bank_name`, `bank_card_holder`, `serial_number`,
    `edit_enable`, `notes`, `return_url`,`version`,`charge_date`
  </sql>

  <!-- 用于单表的条件判断 -->
  <sql id="LIST_CONDITION">
    <if test="marketId != null">
      and `market_id` = #{marketId}
    </if>
    <if test="appId != null">
      and `app_id` = #{appId}
    </if>
    <if test="orderCode != null and orderCode != ''">
      and `order_code` = #{orderCode}
    </if>
    <if test="businessCode != null and businessCode != ''">
      and `business_code` = #{businessCode}
    </if>
    <if test="code != null and code != ''">
      and `code` = #{code}
    </if>
    <if test="businessDepId != null">
      and `business_dep_id` = #{businessDepId}
    </if>
    <if test="appIdList != null and appIdList.size() > 0">
      and `app_id` in
      <foreach collection="appIdList" item="appId" separator="," open="(" close=")">
        #{appId}
      </foreach>
    </if>
    <if test="businessTypeList != null and businessTypeList.size() > 0">
      and `business_type` in
      <foreach collection="businessTypeList" item="businessType" separator="," open="(" close=")">
        #{businessType}
      </foreach>
    </if>
    <if test="customerId != null">
      and `customer_id` = #{customerId}
    </if>
    <if test="operatorId != null">
      and `operator_id` = #{operatorId}
    </if>
    <if test="type != null">
      and `type` = #{type}
    </if>
    <if test="way != null">
      and `way` = #{way}
    </if>
    <if test="state != null">
      and `state` = #{state}
    </if>
    <if test="operateTimeStart != null and operateTimeStart != ''">
      and `operate_time` &gt;= #{operateTimeStart}
    </if>
    <if test="operateTimeEnd != null and operateTimeEnd != ''">
      and `operate_time` &lt;= #{operateTimeEnd}
    </if>
    <if test="customerNameMatch != null and customerNameMatch !=''">
      and `customer_name` like concat('%',#{customerNameMatch},'%')
    </if>
    <if test="operatorNameMatch != null and operatorNameMatch !=''">
      and `operator_name` like concat('%',#{operatorNameMatch},'%')
    </if>
  </sql>
  <!-- 根据条件查询 -->
  <select id="list" parameterType="com.dili.settlement.dto.SettleOrderDto" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List"/>
    from settle_order where 1=1
        <include refid="LIST_CONDITION"/>
    <if test="sort != null and sort != '' and order != null and order != ''">
      ORDER BY ${sort} ${order}
    </if>
  </select>

  <!-- 根据id、version修改状态 -->
  <update id="updateState" parameterType="com.dili.settlement.domain.SettleOrder">
    update settle_order set state = #{state},version = version + 1 where id = #{id} and version = #{version}
  </update>

  <!-- 根据结算单号查询结算单 -->
  <select id="getByCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List"></include>
    from settle_order where `code` = #{code} limit 1
  </select>

  <!-- 结算修改 -->
  <update id="updateSettle" parameterType="com.dili.settlement.domain.SettleOrder">
    update settle_order set
        way = #{way},
        state = #{state},
        operator_id = #{operatorId},
        operator_name = #{operatorName},
        operate_time = #{operateTime},
        account_number = #{accountNumber},
        bank_name = #{bankName},
        bank_card_holder = #{bankCardHolder},
        serial_number = #{serialNumber},
        notes = #{notes},
        charge_date = #{chargeDate}
        version = version + 1
    where id = #{id} and version = #{version}
  </update>

  <!-- 根据id列表查询总金额 -->
  <select id="queryTotalAmount" parameterType="com.dili.settlement.domain.SettleOrder" resultType="java.lang.Long">
    select sum(amount) from settle_order where 1=1
        and id in
        <foreach collection="idList" item="id" open="(" close=")" separator=",">
          #{id}
        </foreach>
  </select>

  <!-- 根据id、version删除记录 -->
  <update id="delWithVersion" parameterType="com.dili.settlement.domain.SettleOrder">
    delete from settle_order where id = #{id} and version = #{version}
  </update>
</mapper>