<#bs4Body>
<div class="container-fluid">
    <form id="form-refund" action="">
        <input type="text" style="display: none"/>
        <input type="hidden" name="token" value="${token!}"/>
        <input type="hidden" id="ids" name="ids" value="${ids!}"/>
        <div class="row">
            <div class="col-2 text-right">
                退款金额:
            </div>
            <div class="col-4 text-left">
                <input type="text" class="form-control" value="${totalAmount!}" readonly/>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-2 text-right">
                结算方式:
            </div>
            <% if(isNotEmpty(wayList) && wayList.~size > 0) {
                  if(isNotEmpty(settleOrder) && settleOrder.editEnable == 1) {
                      for (way in wayList) {
                          if (wayLP.first) {
            %>
            <div class="auto-col pl-3 text-left">
                <input type="radio" name="way" value="${way.code}" checked/>${way.val}
            </div>
            <% } else {%>
            <div class="auto-col pl-3 text-left">
                <input type="radio" name="way" value="${way.code}"/>${way.val}
            </div>
            <% }}} else {
               for (way in wayList) {
                  if (isNotEmpty(settleOrder) && way.code == settleOrder.way) {
            %>
            <div class="auto-col pl-3 text-left">
                <input type="radio" name="way" value="${way.code}" checked/>${way.val}
            </div>
            <% } else {%>
            <div class="auto-col pl-3 text-left">
                <input type="radio" name="way" value="${way.code}" disabled/>${way.val}
            </div>
            <% }}}}%>
        </div>
        <div class="" id="div-special">

        </div>
    </form>
</div>
</#bs4Body>
<#common_commonJs/>
<#refund_refundJs/>
