<div class="row mt-2">
    <div class="col-2 text-right">
        卡主:
    </div>
    <div class="col-4 text-left">
        <% if (isNotEmpty(settleOrder) && settleOrder.editEnable == 1) { %>
        <input type="text" class="form-control" maxlength="40" value="${settleOrder.bankCardHolder}" name="bankCardHolder" id="bankCardHolder" required/>
        <% } else {%>
        <input type="text" class="form-control" maxlength="40" value="${settleOrder.bankCardHolder}" name="bankCardHolder" id="bankCardHolder" required readonly/>
        <% } %>
    </div>
</div>
<div class="row mt-2">
    <div class="col-2 text-right">
        银行卡号:
    </div>
    <div class="col-4 text-left">
        <% if (isNotEmpty(settleOrder) && settleOrder.editEnable == 1) { %>
        <input type="text" class="form-control" maxlength="30" value="${settleOrder.accountNumber}" name="accountNumber" id="accountNumber" required/>
        <% } else {%>
        <input type="text" class="form-control" maxlength="30" value="${settleOrder.accountNumber}" name="accountNumber" id="accountNumber" required readonly/>
        <% }%>
    </div>
</div>
<div class="row mt-2">
    <div class="col-2 text-right">
        银行名称:
    </div>
    <div class="col-4 text-left">
        <% if (isNotEmpty(settleOrder) && settleOrder.editEnable == 1) {%>
        <input type="text" class="form-control" maxlength="50" value="${settleOrder.bankName}" name="bankName" id="bankName" required/>
        <% } else {%>
        <input type="text" class="form-control" maxlength="50" value="${settleOrder.bankName}" name="bankName" id="bankName" required readonly/>
        <% } %>
    </div>
</div>
<div class="row mt-2">
    <div class="col-2 text-right">
        流水号:
    </div>
    <div class="col-4 text-left">
        <input type="text" class="form-control" maxlength="40" name="serialNumber" id="serialNumber"/>
    </div>
</div>
<script type="text/javascript">
    /** 特殊验证*/
    function validateSpecial() {
        return true;
    }
</script>