<#bs4Body>
<div class="container-fluid">
    <form id="form-change" action="">
        <input type="text" style="display: none"/>
        <input type="hidden" name="id" value="${settleOrder.id!}"/>
        <input type="hidden" name="way" value="${settleOrder.way!}"/>
        <table id="table-way-list" class="table table-bordered table-hover" >
            <thead>
                <tr>
                    <th class="text-center align-middle">结算方式</th>
                    <th class="text-center align-middle">金额</th>
                    <th class="text-center align-middle">收款日期</th>
                </tr>
            </thead>
            <tbody>
            <% if (isNotEmpty(settleWayList) && settleWayList.~size > 0) {
                for (way in settleWayList) {
            %>
            <input type="hidden" name="settleWayDetailList[${wayLP.dataIndex}].id" value="${way.id!}"/>
                <tr>
                    <td class="text-center align-middle">${way.wayText!}</td>
                    <td class="text-center align-middle">${way.amountText!}</td>
                    <td class="text-center align-middle">
                        <div class="input-group">
                            <input type="text" name="settleWayDetailList[${wayLP.dataIndex}].chargeDate" id="settleWayDetailList[${wayLP.dataIndex}].chargeDate" class="form-control laydate" value="${way.chargeDate!}" />
                            <div class="input-group-append">
                                <label for="settleWayDetailList[${wayLP.dataIndex}].chargeDate"  class="input-group-text fa fa-calendar"></label>
                            </div>
                        </div>
                    </td>
                </tr>
            <% }} %>
            </tbody>
        </table>
    </form>
</div>
</#bs4Body>
<#common_commonJs/>
<script type="text/javascript">
    //日期范围
    lay('.laydate').each(function () {
        laydate.render({
            theme: '#007bff',
            elem: this
            , trigger: 'click'
            , type: 'date'
        });
    });
</script>
