<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.settlement.mapper.CustomerAccountMapper">
  <resultMap id="BaseResultMap" type="com.dili.settlement.domain.CustomerAccount">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="market_id" jdbcType="BIGINT" property="marketId" />
    <result column="market_code" jdbcType="VARCHAR" property="marketCode" />
    <result column="mch_id" jdbcType="BIGINT" property="mchId"/>
    <result column="mch_name" jdbcType="VARCHAR" property="mchName"/>
    <result column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="customer_phone" jdbcType="VARCHAR" property="customerPhone" />
    <result column="customer_certificate" jdbcType="VARCHAR" property="customerCertificate" />
    <result column="amount" jdbcType="BIGINT" property="amount" />
    <result column="frozen_amount" jdbcType="BIGINT" property="frozenAmount" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    `id`, `market_id`, `market_code`, `mch_id`, `mch_name`, `customer_id`, `customer_name`, `customer_phone`, `customer_certificate`,
    `amount`, `frozen_amount`, `version`
  </sql>

  <!-- 新增 -->
  <insert id="save" parameterType="com.dili.settlement.domain.CustomerAccount" useGeneratedKeys="true">
    insert into customer_account(
        `market_id`,
        `market_code`,
        `mch_id`,
        `mch_name`,
        `customer_id`,
        `customer_name`,
        `customer_phone`,
        `customer_certificate`,
        `amount`,
        `frozen_amount`
    )
    values(
        #{marketId},
        #{marketCode},
        #{mchId},
        #{mchName},
        #{customerId},
        #{customerName},
        #{customerPhone},
        #{customerCertificate},
        #{amount},
        #{frozenAmount}
    )
  </insert>

  <!-- 查询并锁定 -->
  <select id="lockGet" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List"></include>
    from customer_account where mch_id = #{mchId} and customer_id = #{customerId}
    limit 1 for update
  </select>

    <!-- 查询并锁定 -->
    <select id="lockGetById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from customer_account where id = #{id} for update
    </select>

  <!-- 查询并锁定 -->
  <select id="getBy" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List"></include>
    from customer_account where mch_id = #{mchId} and customer_id = #{customerId}
    limit 1
  </select>

    <!-- 修改金额 -->
    <update id="updateAmount" parameterType="com.dili.settlement.domain.CustomerAccount">
        update customer_account set amount = #{amount},frozen_amount = #{frozenAmount} where id = #{id}
    </update>

    <!-- 查询列表 -->
    <select id="list" parameterType="com.dili.settlement.dto.CustomerAccountDto" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"></include>
        from customer_account where 1=1
        <if test="marketId != null">
            and `market_id` = #{marketId}
        </if>
        <if test="mchId != null">
            and `mch_id` = #{mchId}
        </if>
        <if test="customerId != null">
            and `customer_id` = #{customerId}
        </if>
        <if test="customerName != null and customerName != ''">
            and `customer_name` = #{customerName}
        </if>
        <if test="customerPhone != null and customerPhone != ''">
            and `customer_phone` = #{customerPhone}
        </if>
        <if test="customerCertificate != null and customerCertificate != ''">
            and `customer_certificate` = #{customerCertificate}
        </if>
        <if test="customerNameMatch != null and customerNameMatch !=''">
            and `customer_name` like concat('%',#{customerNameMatch},'%')
        </if>
        <if test="sort != null and sort != '' and order != null and order != ''">
            ORDER BY ${sort} ${order}
        </if>
    </select>
</mapper>