<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.settlement.mapper.SettleWayDetailMapper">
  <resultMap id="BaseResultMap" type="com.dili.settlement.domain.SettleWayDetail">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="settle_order_id" jdbcType="BIGINT" property="settleOrderId" />
    <result column="settle_order_code" jdbcType="VARCHAR" property="settleOrderCode" />
    <result column="way" jdbcType="TINYINT" property="way" />
    <result column="amount" jdbcType="BIGINT" property="amount" />
    <result column="serial_number" jdbcType="VARCHAR" property="serialNumber"/>
    <result column="charge_date" jdbcType="DATE" property="chargeDate" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    `id`, `settle_order_id`, `settle_order_code`, `way`, `amount`, `serial_number`, `charge_date`, `notes`
  </sql>

  <!-- 根据结算单ID查询 -->
  <select id="listBySettleOrderId" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List"/>
    from settle_way_detail where settle_order_id = #{settleOrderId}
  </select>

  <!-- 根据结算单code查询 -->
  <select id="listBySettleOrderCode" resultMap="BaseResultMap">
    select
       <include refid="Base_Column_List"/>
    from settle_way_detail where settle_order_code = #{settleOrderCode}
  </select>

  <!-- 批量修改收款日期 -->
  <update id="batchUpdateChargeDate">
    <foreach collection="settleWayDetailList" item="item" open="" close="" separator=";">
      update settle_way_detail set charge_date = #{item.chargeDate} where id = #{item.id}
    </foreach>
  </update>
</mapper>