<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.settlement.mapper.SettleConfigMapper">
  <resultMap id="BaseResultMap" type="com.dili.settlement.domain.SettleConfig">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="group_code" jdbcType="INTEGER" property="groupCode" />
    <result column="code" jdbcType="TINYINT" property="code" />
    <result column="val" jdbcType="VARCHAR" property="val" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
    <result column="market_id" jdbcType="BIGINT" property="marketId" />
    <result column="sort_field" jdbcType="INTEGER" property="sortField" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    `id`, `group_code`, `code`, `val`, `state`, `notes`, `market_id`, `sort_field`
  </sql>

  <!-- 列表查询 -->
  <select id="list" parameterType="com.dili.settlement.domain.SettleConfig" resultMap="BaseResultMap">
    select * from settle_config where 1=1
    <if test="marketId != null">
      and `market_id` = #{marketId}
    </if>
    <if test="groupCode != null">
      and `group_code` = #{groupCode}
    </if>
    <if test="state != null">
      and `state` = #{state}
    </if>
    order by sort_field
  </select>

  <!-- 根据市场ID、组编码、编码获取唯一值 -->
  <select id="get" resultMap="BaseResultMap">
    select * from settle_config where `market_id` = #{marketId} and `group_code` = #{groupCode} and `code` = #{code} limit 1
  </select>

  <!-- 根据ID修改 -->
  <update id="updateById" parameterType="com.dili.settlement.domain.SettleConfig">
    update settle_config set `market_id` = #{marketId}, `group_code` = #{groupCode}, `code` = #{code}, `val` = #{val}, `state` = #{state}, `notes` = #{notes}, `sort_field` = #{sortField} where id = #{id}
  </update>
</mapper>