<div class="row mt-2">
    <div class="col-2 text-right">
        开卡名称:
    </div>
    <div class="col-4">
        <input type="text" class="form-control" maxlength="40" name="tradeCustomerName" id="tradeCustomerName" value="${customerName!}" readonly/>
    </div>
</div>
<div class="row mt-2">
    <div class="col-2 text-right">
        园区卡号:
    </div>
    <div class="col-4">
        <select id="select-card-info" class="form-control" name="tradeAccountId" required>
            <% if (isNotEmpty(cardList) && cardList.~size > 0) {
                  for (card in cardList) {
            %>
            <option value="${card.accountId}">${card.cardNo!}</option>
            <% }} %>
        </select>
    </div>
</div>
<script type="text/javascript">
    /** 特殊验证*/
    function validateSpecial() {
        return true;
    }
</script>

