<% if (isNotEmpty(groupOrderList) && groupOrderList.~size > 0) {
    for (item in groupOrderList) {
        if (itemLP.first) { %>
        <div class="mt-2"><input type="radio" id="mchRadio_${item.mchId}" name="mchRadio" value="${item.mchId}" checked/>所属组织: ${item.mchName!}</div>
        <% if (isNotEmpty(item.settleOrderList) && item.settleOrderList.~size > 0) { %>
            <table bind-mchId="${item.mchId}" id="table_${item.mchId}" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center align-middle">
                            <input type="checkbox" name="checkAll"/>
                        </th>
                        <th class="text-center align-middle">
                            业务编号
                        </th>
                        <th class="text-center align-middle">
                            业务类型
                        </th>
                        <th class="text-center align-middle">
                            待退金额
                        </th>
                        <th class="text-center align-middle">
                            扣减金额
                        </th>
                        <th class="text-center align-middle">
                            转抵金额
                        </th>
                        <th class="text-center align-middle">
                            实退金额
                        </th>
                        <th class="text-center align-middle">
                            提交人
                        </th>
                        <th class="text-center align-middle">
                            提交人部门
                        </th>
                        <th class="text-center align-middle">
                            提交时间
                        </th>
                    </tr>
                </thead>
                <tbody>
                <% for (settleOrder in item.settleOrderList) { %>
                    <tr>
                        <td class="text-center align-middle">
                            <input type="checkbox" name="chk" value="${settleOrder.id}"/>
                        </td>
                        <% if (hasResource("settlement-pay-business-detail")) { %>
                        <td class="text-center align-middle">
                            <a href="javascript:;" onclick="showBusinessDetailHandler(${settleOrder.id}, ${settleOrder.reverse});return false;">${settleOrder.businessCode!}</a>
                        </td>
                        <% } else { %>
                        <td class="text-center align-middle">
                            ${settleOrder.businessCode!}
                        </td>
                        <% } %>
                        <td class="text-center align-middle">
                            ${@com.dili.settlement.enums.BizTypeEnum.getNameByCode(settleOrder.businessType)}
                        </td>
                        <% if (settleOrder.amount == 0) { %>
                        <td class="text-center align-middle">
                            ${@com.dili.ss.util.MoneyUtils.centToYuan(settleOrder.amount)}
                        </td>
                        <% } else { %>
                        <td>
                            <a href="javascript:;" onclick="showAmountDetail(${settleOrder.id}, ${settleOrder.reverse});return false;">${@com.dili.ss.util.MoneyUtils.centToYuan(settleOrder.amount)}</a>
                        </td>
                        <% } %>
                        <% if (settleOrder.deductAmount == 0) { %>
                        <td class="text-center align-middle">
                            ${@com.dili.ss.util.MoneyUtils.centToYuan(settleOrder.deductAmount)}
                        </td>
                        <% } else { %>
                        <td class="text-center align-middle">
                            <a href="javascript:;" onclick="showDeductDetail(${settleOrder.id}, ${settleOrder.reverse});return false;">${@com.dili.ss.util.MoneyUtils.centToYuan(settleOrder.deductAmount)}</a>
                        </td>
                        <% } %>
                        <% if (settleOrder.transferAmount == 0) { %>
                        <td class="text-center align-middle">
                            ${@com.dili.ss.util.MoneyUtils.centToYuan(settleOrder.transferAmount)}
                        </td>
                        <% } else { %>
                        <td class="text-center align-middle">
                            <a href="javascript:;" onclick="showTransferDetail(${settleOrder.id}, ${settleOrder.reverse});return false;">${@com.dili.ss.util.MoneyUtils.centToYuan(settleOrder.transferAmount)}</a>
                        </td>
                        <% } %>
                        <td class="text-center align-middle">
                            ${@com.dili.ss.util.MoneyUtils.centToYuan(settleOrder.amount - settleOrder.deductAmount - settleOrder.transferAmount)}
                        </td>
                        <td class="text-center align-middle">
                            ${settleOrder.submitterName!}
                        </td>
                        <td class="text-center align-middle">
                            ${settleOrder.submitterDepName!}
                        </td>
                        <td class="text-center align-middle">
                            ${@com.dili.settlement.util.DateUtil.formatDateTime(settleOrder.submitTime, "yyyy-MM-dd HH:mm:ss")}
                        </td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        <% }} else { %>
        <div class="mt-2"><input type="radio" id="mchRadio_${item.mchId}" name="mchRadio" value="${item.mchId}"/>所属组织: ${item.mchName!}</div>
        <%  if (isNotEmpty(item.settleOrderList) && item.settleOrderList.~size > 0) { %>
            <table bind-mchId="${item.mchId}" id="table_${item.mchId}" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center align-middle">
                            <input type="checkbox" name="checkAll" disabled/>
                        </th>
                        <th class="text-center align-middle">
                            业务编号
                        </th>
                        <th class="text-center align-middle">
                            业务类型
                        </th>
                        <th class="text-center align-middle">
                            待退金额
                        </th>
                        <th class="text-center align-middle">
                            扣减金额
                        </th>
                        <th class="text-center align-middle">
                            转抵金额
                        </th>
                        <th class="text-center align-middle">
                            实退金额
                        </th>
                        <th class="text-center align-middle">
                            提交人
                        </th>
                        <th class="text-center align-middle">
                            提交人部门
                        </th>
                        <th class="text-center align-middle">
                            提交时间
                        </th>
                    </tr>
                </thead>
                <tbody>
                <% for (settleOrder in item.settleOrderList) { %>
                    <tr>
                        <td class="text-center align-middle">
                            <input type="checkbox" name="chk" value="${settleOrder.id}" disabled/>
                        </td>
                        <% if (hasResource("settlement-pay-business-detail")) { %>
                        <td class="text-center align-middle">
                            <a href="javascript:;" onclick="showBusinessDetailHandler(${settleOrder.id}, ${settleOrder.reverse});return false;">${settleOrder.businessCode!}</a>
                        </td>
                        <% } else { %>
                        <td class="text-center align-middle">
                            ${settleOrder.businessCode!}
                        </td>
                        <% } %>
                        <td class="text-center align-middle">
                            ${@com.dili.settlement.enums.BizTypeEnum.getNameByCode(settleOrder.businessType)}
                        </td>
                        <% if (settleOrder.amount == 0) { %>
                        <td class="text-center align-middle">
                            ${@com.dili.ss.util.MoneyUtils.centToYuan(settleOrder.amount)}
                        </td>
                        <% } else { %>
                        <td>
                            <a href="javascript:;" onclick="showAmountDetail(${settleOrder.id}, ${settleOrder.reverse});return false;">${@com.dili.ss.util.MoneyUtils.centToYuan(settleOrder.amount)}</a>
                        </td>
                        <% } %>
                        <% if (settleOrder.deductAmount == 0) { %>
                        <td class="text-center align-middle">
                            ${@com.dili.ss.util.MoneyUtils.centToYuan(settleOrder.deductAmount)}
                        </td>
                        <% } else { %>
                        <td class="text-center align-middle">
                            <a href="javascript:;" onclick="showDeductDetail(${settleOrder.id}, ${settleOrder.reverse});return false;">${@com.dili.ss.util.MoneyUtils.centToYuan(settleOrder.deductAmount)}</a>
                        </td>
                        <% } %>
                        <% if (settleOrder.transferAmount == 0) { %>
                        <td class="text-center align-middle">
                            ${@com.dili.ss.util.MoneyUtils.centToYuan(settleOrder.transferAmount)}
                        </td>
                        <% } else { %>
                        <td class="text-center align-middle">
                            <a href="javascript:;" onclick="showTransferDetail(${settleOrder.id}, ${settleOrder.reverse});return false;">${@com.dili.ss.util.MoneyUtils.centToYuan(settleOrder.transferAmount)}</a>
                        </td>
                        <% } %>
                        <td class="text-center align-middle">
                            ${@com.dili.ss.util.MoneyUtils.centToYuan(settleOrder.amount - settleOrder.deductAmount - settleOrder.transferAmount)}
                        </td>
                        <td class="text-center align-middle">
                            ${settleOrder.submitterName!}
                        </td>
                        <td class="text-center align-middle">
                            ${settleOrder.submitterDepName!}
                        </td>
                        <td class="text-center align-middle">
                            ${@com.dili.settlement.util.DateUtil.formatDateTime(settleOrder.submitTime, "yyyy-MM-dd HH:mm:ss")}
                        </td>
                    </tr>
                <% } %>
                </tbody>
            </table>
<% }}}} else {%>
<div style="text-align: center">该客户无待退款业务单</div>
<% } %>