<div class="row mt-2">
    <input type="hidden" name="tradeFundAccountId" id="tradeFundAccountId"/>
    <input type="hidden" name="tradeAccountId" id="tradeAccountId"/>
    <input type="hidden" name="tradeAvailableAmount" id="tradeAvailableAmount"/>
    <input type="hidden" name="tradeCustomerId" id="tradeCustomerId"/>
    <input type="hidden" name="tradeCardNo" id="tradeCardNo"/>
    <div class="col-2 text-right">
        卡号:
    </div>
    <div class="col-4">
        <div class="input-group">
            <input type="text" name="cardNo" id="cardNo" class="form-control" maxlength="20" required/>
            <div class="input-group-append">
                <span class="input-group-text"><a id="cardReader" href="javascript:;">刷园区卡</a></span>
            </div>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col-2 text-right">
        卡主:
    </div>
    <div class="col-4">
        <input type="text" class="form-control" maxlength="40" name="tradeCustomerName" id="tradeCustomerName" readonly/>
    </div>
</div>
<div class="row mt-2">
    <div class="col-2 text-right">
        余额:
    </div>
    <div class="col-4">
        <input type="text" class="form-control" maxlength="40" name="tradeBalance" id="tradeBalance" readonly/>
    </div>
</div>
<div class="row mt-2">
    <div class="col-2 text-right">
        密码:
    </div>
    <div class="col-4">
        <div class="input-group">
            <input type="password" name="tradePassword" id="tradePassword" class="form-control" maxlength="6" readonly required/>
            <div class="input-group-append">
                <span class="input-group-text"><a id="passwordReader" href="javascript:;">输入密码</a></span>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(function() {
        /** 监听卡号回车事件 */
        $('#cardNo').keydown(function(e) {
            if (e.keyCode === 13) {
                clearAccountInfo();
                queryAccountInfo();
            }
        });

        /** 刷卡事件处理 */
        $('#cardReader').click(function () {
            $('#cardNo').val('');
            clearAccountInfo();
            cardReader(function (cardNo) {
                $('#cardNo').val(cardNo);
                queryAccountInfo();
            });
        });

        /** 密码事件处理 */
        $('#passwordReader').click(function () {
            $('#tradePassword').val('');
            passwordReader(function (password) {
                $('#tradePassword').val(password);
            });
        });
    });

    /** 当卡号相关事件触发时情况上一次查询结果 */
    function clearAccountInfo() {
        $('#tradeFundAccountId').val('');
        $('#tradeAccountId').val('');
        $('#tradeAvailableAmount').val('');
        $('#tradeCustomerId').val('');
        $('#tradeCustomerName').val('');
        $('#tradeBalance').val('');
        $('#tradeCardNo').val('');
    }

    //日期范围
    lay('.laydate').each(function () {
        laydate.render({
            theme: '#007bff',
            elem: this
            , trigger: 'click'
            , type: 'date'
        });
    });

    /** 查询账户信息 */
    function queryAccountInfo() {
        let cardNo = $('#cardNo').val();
        if (!cardNo || $.trim(cardNo).length === 0) {
            return;
        }
        queryAccountHandler($.trim(cardNo), function(data) {
            $('#tradeFundAccountId').val(data.accountFund.accountId);
            $('#tradeAccountId').val(data.accountInfo.accountId);
            $('#tradeAvailableAmount').val(data.accountFund.availableAmount);
            $('#tradeCustomerId').val(data.accountInfo.customerId);
            $('#tradeCustomerName').val(data.accountInfo.customerName);
            $('#tradeBalance').val(data.accountFund.availableAmountView);
            $('#tradeCardNo').val(data.accountInfo.cardNo);
        });
    }

    /** 特殊验证*/
    function validateSpecial() {
        let tradeFundAccountId = $('#tradeFundAccountId').val();
        if (!tradeFundAccountId) {
            showError("未查询到资金账户");
            return false;
        }
        let totalAmount = parseInt($('#totalAmount').val());
        let tradeAvailableAmount = parseInt($('#tradeAvailableAmount').val());
        if (totalAmount > tradeAvailableAmount) {
            showInfo("账户余额不足");
            return false;
        }
        //提前校验密码
        let password = $('#tradePassword').val();
        let flag = false;
        $.ajax({
            url:"/accountQuery/validatePayPassword.action",
            type:"POST",
            dataType:"json",
            async:false,
            data:{
                "accountId":tradeFundAccountId,
                "password":password
            },
            success:function(ret) {
                if (ret.code !== "200") {
                    showError(ret.message);
                    return;
                }
                flag = true;
            },
            error:function() {
                showError("校验支付密码失败,请稍后重试");
            }
        });
        return flag;
    }
</script>